$fg: $colors-fg;

// Epik-inspired generic popup surface.
$window-opacity-ratio: $launcher-style-bgOpacity * 0.01;
$window-transparency: 1 - $window-opacity-ratio;
$window-bg: transparentize($launcher-style-bg, $window-transparency);

$window-shadow: $launcher-style-shadowX * 1px $launcher-style-shadowY * 1px $launcher-style-shadowBlur * 1px
  $launcher-style-shadowSpread * 1px $launcher-style-shadowColor;

.window-content {
  all: unset;
  background-color: $window-bg;
  border-radius: $launcher-style-radius * 1px;
  color: $fg;

  border: if(
    $launcher-style-borderEnable and $launcher-style-borderLocation == "full",
    $launcher-style-borderWidth * 1px solid $launcher-style-borderColor,
    none
  );
}
